{
  "plugins": ["prettier-plugin-solidity"],
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.sol,*.t.sol,*.s.sol",
      "options": {
        "parser": "*.sol",
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
